nav {
  display: flex;
  width: 100%;
  background: black;
  padding: 1em;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin: auto;
    gap: 1.5em;
  }

  a {
    text-decoration: none;
  }
}
