.App {
  background-color: var(--navy);
  color: var(--not-white);
  padding: var(--variable-padding-small);
  box-sizing: border-box;
  border: 1px solid gray;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#footer {
  text-align: right;
  width: 100%;
  z-index: 50;
  background: var(--navy);
  margin-top: -1px;
  padding: 1em;
  box-sizing: border-box;
}

.decorated-anchor {
  color: var(--not-white);
  text-decoration: none;
  cursor: pointer;
  border-bottom: 3px solid var(--light-green);
  padding-bottom: 0.5em;
}
