:root {
  --navy: #0a192f;
  --light-green: #64ffda;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --white: #e6f1ff;
  --not-white: #d1d1d1;
  --border-radius: 6px;

  --dark-navy: #020c1b;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --dark-slate: #495670;
  --lightest-slate: #ccd6f6;
  --green-tint: rgba(100, 255, 218, 0.1);

  --linear-gradient: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);

  --scale-in: 0.3s;
  --scale-out: 0.75s;

  --variable-padding-small: 0.5em;
  --padding-medium: 1em;
  --padding-large: 2em;

  --font-main: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  --font-flair: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}

@media only screen and (min-width: 500px) {
  :root {
    --variable-padding-small: 1em;
  }
}

@media only screen and (min-width: 700px) {
  :root {
    --variable-padding-small: 2em;
  }
}

html,
body,
#root {
  min-height: 100%;
  width: 100%;
  margin: 0;
}

html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--navy);
  height: fit-content;
  /* overflow: hidden; */
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--light-green);
  font-family: var(--font-flair);
}

p {
  font-family: var(--font-main);
  color: var(--light-slate);
}

a {
  color: var(--light-green);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--dark-slate);
  border: 3px solid var(--navy);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: var(--navy);
}
